# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.so
*.cc.1.o
*.wafpickle-98
*.cc.*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#python
*.pyc
*.pyo

#swp
*.swp

#build
build/
Debug/
/.project
/.cproject
.lock-waf_*_build
.waf*

#log
*.log
*.pcap
*.tr
*.data
*.txt

.settings/

#script
*.sh

#package
*.tar.gz

# configure file
*.ini
*.cfg
*.topo

# MacOS
.DS_Store

# sftp
sftp*
